{% extends "base.html" %}

{% block content %}

<!-- Custom styles for this template-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .job_card {
    cursor: pointer;
  }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">
  {% if Message %}
    <div class="alert alert-warning alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{ Message }}
    </div>
  {% endif %}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">Add Student</h5>
    </div>

    <div class="card-body">

      <form style="padding-top: 20px;" id="addStudent" method="POST" action="">
        <h6 class="m-0 font-weight-bold text-primary">Student:</h6>
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required> &nbsp;
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" > &nbsp;
        <input type="email" id="student_email" name="student_email" placeholder="Email" > &nbsp;
        {% comment %} <input type="text" id="gender" name="gender" placeholder="Gender" > &nbsp; </br></br></br> {% endcomment %}
        <select id="gender" name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Prefer not to say">Prefer not to say</option>
        </select></br></br></br>

        <h6 class="m-0 font-weight-bold text-primary">School:</h6>
        <input type="number" id="school_region_id" name="school_region_id" placeholder="Region Id" > &nbsp;
        <input type="text" id="school_name" name="school_name" placeholder="Name" > &nbsp;
        <input type="email" id="school_email" name="school_email" placeholder="Email" > &nbsp;
        <input type="text" id="school_principal" name="school_principal" placeholder="Principal" > &nbsp;<br><br>
        <input type="text" id="school_phone" name="school_phone" placeholder="Phone No." > &nbsp; <br><br>
        <textarea id="school_address" name="school_address" placeholder="Address" rows="4" cols="30"></textarea>  <br><br><br>

        <h6 class="m-0 font-weight-bold text-primary">Book:</h6>
        <input type="text" id="book_title" name="book_title" placeholder="Title" > &nbsp;
        <input type="text" id="book_author" name="book_author" placeholder="Author" > &nbsp;
        <input type="date" class="date" id="book_publication_date" name="book_publication_date" placeholder="Publication Date" > &nbsp;
        <input type="number" id="book_pgs_read" name="book_pgs_read" placeholder="Total Pages Read" > &nbsp; </br> </br>
        <button type="submit" id="addToList" class="btn btn-primary mr-5" style="float: right">&nbsp;Submit Data &nbsp;</button>
      </form>

    </div>
  </div>
  </br>

</div>
<!-- /.container-fluid -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


{% endblock content %}   