{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template-->

<style>
  .job_card {
    cursor: pointer;
  }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h5 class="m-0 font-weight-bold text-primary">Add Student</h5>
    </div>

    <div class="card-body">

      <form style="padding-top: 20px;" id="addStudent" method="POST" action="">
        <h6 class="m-0 font-weight-bold text-primary">Student:</h6>
        <input type="text" id="first_name" name="first_name" placeholder="First Name" required> &nbsp;
        <input type="text" id="last_name" name="last_name" placeholder="Last Name" > &nbsp;
        <input type="email" id="student_email" name="student_email" placeholder="Email" > &nbsp;
        <input type="text" id="gender" name="gender" placeholder="Gender" > &nbsp; </br></br></br>

        <h6 class="m-0 font-weight-bold text-primary">School:</h6>
        <input type="number" id="school_region_id" name="school_region_id" placeholder="Region Id" > &nbsp;
        <input type="text" id="school_name" name="school_name" placeholder="Name" > &nbsp;
        <input type="email" id="school_email" name="school_email" placeholder="Email" > &nbsp;
        <input type="text" id="school_principal" name="school_principal" placeholder="Principal" > &nbsp;<br><br>
        <input type="text" id="school_phone" name="school_phone" placeholder="Phone No." > &nbsp; <br><br>
        <textarea id="school_address" name="school_address" placeholder="Address" rows="4" cols="30"></textarea>  <br><br><br>

        <h6 class="m-0 font-weight-bold text-primary">Book:</h6>
        <input type="text" id="book_title" name="book_title" placeholder="Title" > &nbsp;
        <input type="text" id="book_author" name="book_author" placeholder="Author" > &nbsp;
        <input type="date" class="date" id="book_publication_date" name="book_publication_date" placeholder="Publication Date" > &nbsp;
        <input type="number" id="book_pgs_read" name="book_pgs_read" placeholder="Total Pages Read" > &nbsp; </br> </br>
        <button type="submit" id="addToList" class="btn btn-primary mr-5" style="float: right">&nbsp;Add Student &nbsp;</button>
      </form>

    </div>
  </div>
  </br>

</div>
<!-- /.container-fluid -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout/">Logout</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}   