{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template-->


<style>
  .job_card {
    cursor: pointer;
  }
</style>


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Search Student</h6>
    </div>

    <div class="card-body">

      <form style="padding-top: 20px;">
        <input type="text" id="name" placeholder="Student Id" required> &nbsp;
        <input type="text" id="email" type="email" placeholder="Student Name" required> &nbsp;
        <button type="button" id="addToList" class="btn btn-primary mr-5" style="">&nbsp;Search &nbsp;</button>
      </form>

    </div>
  </div>
  </br>
  {% comment %} <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Result:</h6>
    </div>
  </div> {% endcomment %}

</div>
<!-- /.container-fluid -->



<!-- Modal spinner -->
<div>
  <!-- <button type="button" class="btn btn-primary" onclick="modal_spinner();">Open and close in 3 secs</button> -->
  <center>
    <div class="modal_spinner fade bd-example-modal-lg" data-modal="modal_spinner" data-backdrop="static"
      data-keyboard="false" tabindex="-1" style="margin-left: 220px;">
      <div class="modal-dialog modal-md">
        <div class="modal-content" style="padding: 35px;">
          <div class="row">

            <div class="col-sm-2">
              <div style="width: 48px;">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
              </div>
            </div>
            <div class="col-sm-9" style="margin-top: 10px;">
              <strong>Please Wait! Sending Invites</strong>
            </div>
          </div>


        </div>
      </div>
    </div>
  </center>


  <!-- Email sent message with card -->
  <div>

    <center>
      <div id="candidate_invitation_card">

      </div>
      <!-- <strong>Invitation Link Has been sent to the candidates</strong> -->
    </center>

  </div>

</div>





</div>
<!-- End of Main Content -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout/">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ static_url_path }}/static/dashboard/vendor/jquery/jquery.min.js"></script>
<script src="{{ static_url_path }}/static/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{{ static_url_path }}/static/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{{ static_url_path }}/static/dashboard/js/sb-admin-2.min.js"></script>

<script src="{{ static_url_path }}/static/dashboard/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="{{ static_url_path }}/static/dashboard/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="{{ static_url_path }}/static/dashboard/js/demo/datatables-demo.js"></script>
<script type="text/javascript" src="{{ static_url_path }}/static/dashboard/invitation-page/invitation.js"></script>

<script>
  var msg_data = window.localStorage.getItem("email_status_data")
  // console.log(msg_data);
  if (msg_data == "Email has been sent to the Candidates") {
    // console.log('if-condition')
    document.getElementById("candidate_invitation_card").innerHTML = `<div class="alert alert-success alert-dismissible fade show" role="alert" style="width:50%;"><strong>` + msg_data + `</strong><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
    window.localStorage.setItem('email_status_data', '');
  }
</script>
<script src="{{ static_url_path }}/static/dashboard/js/notifications.js"></script>
{% endblock content %}   