{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template-->


<style>
  .job_card {
    cursor: pointer;
  }
</style>


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Search Student</h6>
    </div>

    <div class="card-body">

      <form style="padding-top: 20px;" id='queryForm' onsubmit="return false">
        <input type="number" id="studentId" name="studentId" placeholder="Student Id"> &nbsp;
        <input id="studentName" type="text" name="studentName" placeholder="Student Name"> &nbsp; </br> </br>
        <button type="button" id="submit" onclick="getStudent()" class="btn btn-primary mr-5" style="float: right">&nbsp;Search &nbsp;</button>
      </form>

    </div>
  </div>
  </br>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Full Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Gender</th>
                      <th scope="col">School Name</th>
                      <th scope="col">School Ph. No.</th>
                      <th scope="col">Book Name</th>
                      <th scope="col">Total Pg Read</th>
                    </tr>
                </thead>
                <tbody id="resultData">
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<script>
  function getStudent() {
    var student_id = document.getElementById('studentId').value
    var student_name = document.getElementById('studentName').value
    console.log(student_id)
    console.log(student_name)
    if (student_id || student_name) {
      jQuery.ajax({
        url:"/get-data/",
        data:{
          id:student_id,
          name:student_name
        },
        method:'get',
        beforesend:function(){
          console.log("sending request")
        },
        success:function(data,status){
          console.log(data);
          //$("#resultData").html(data);

        var TableItem = ''
        $.each(data['student_data'], function(index, value){
          console.log('index');
          console.log(index);
          console.log('value');
          console.log(value);

          TableItem +='<tr>' + "<td scope='row'>"+value.student_id+"</td>"+
                              '<td>'+value.student_full_name+'</td>' +
                              '<td>'+value.student_email+'</td>' +
                              '<td>'+value.gender+'</td>' +
                              '<td>'+value.school_name+'</td>' +
                              '<td>'+value.school_phone+'</td>' +
                              '<td>'+value.book_name+'</td>' +
                              '<td>'+value.total_pg_read+'</td>' +
                          '</tr>'
          $('#resultData').html(TableItem);
        })

        },
        error:function(err){
          console.log(err)
        }
      })
    }else{
      alert("student id or student name required")
    }
  }
</script>

{% endblock content %}   